DJANGO_SECRET_KEY=my_very_secret_key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

LOGGING_DEBUG=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=taskradar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
